header {
  background-color: rgb(255, 119, 0);
  color: aliceblue;
}
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 500px;
  align-items: center;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
a {
  text-decoration: none;
  color: aliceblue;
}
main {
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.prodotto {
  width: 32%;
  min-height: 200px;
  margin-bottom: 20px;
}
.prodotto img {
  max-width: 100%;
}
